{% extends "base.html" %}

{% block title %}
QR Scanner
{% endblock %}

{% block content %}

<section class="scanner-section">

    <div class="scanner-card">

        <h1>📷 Genesis QR Scanner</h1>

        <p>Point the camera at a student's QR code.</p>

        <div id="reader" style="width:100%;max-width:500px;margin:auto;"></div>

        <p id="result"></p>

    </div>

</section>

<script src="https://unpkg.com/html5-qrcode"></script>

<script>
function onScanSuccess(decodedText) {

    document.getElementById("result").innerHTML =
        "QR Detected";

    window.location.href = decodedText;
}

const html5QrCode = new Html5QrcodeScanner(
    "reader",
    {
        fps: 10,
        qrbox: 250
    }
);

html5QrCode.render(onScanSuccess);
</script>

{% endblock %}